/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

li {
  list-style-type: none;
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* global layout */
#global {
  width: 100vw;
  height: 100vh;
}

#side {
  width: 30%;
  height: 100vh;
  float: left;
}

#main {
  width: 70%;
  height: 100vh;
  float: left;
}

.top {
  height: 60px;
  background-color: #eee;
}

/* side layout */
#side .get-notification {
  height: 80px;
  background-color: #9de1fe;
}

#side .search-chat {
  height: 40px;
  background-color: #eee;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#side .chats {
  height: calc(100% - 60px - 80px - 40px);
  overflow-y: auto;
}

#side .chats li {
  height: 70px;
  border-bottom: 1px solid black; /* DEBUG mettere poi il border al testo in modo che non ci sia sotto l'immagine */
}

/* main part layout */
#main .conversation {
  height: calc(100% - 60px - 60px);
  background-color: #e5ddd5;
  background-image: url(../img/conversation-background.png);
}

#main .type-message {
  height: 60px;
  background-color: #eee;
}